/* General styling */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    font-family: Arial, sans-serif;
}

.description-section, .output-section {
    background-color: #1e1e1e; /* Dark background */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    margin: 20px 0; /* Spacing between sections */
    color: #d4d4d4; /* Light text color */
    font-family: 'Courier New', Courier, monospace; /* Monospace font for code-like appearance */
}

.description-section p, .output-section p {
    line-height: 1.6; /* Line spacing */
    margin-bottom: 10px; /* Space between paragraphs */
}

.output-section h3 {
    color: #4caf50; /* Green color for headings */
    margin-bottom: 10px; /* Space below the heading */
}

.example-code {
    background-color: #2e2e2e; /* Slightly lighter background for code blocks */
    padding: 10px; /* Padding around code blocks */
    border-radius: 4px; /* Rounded corners for code blocks */
    color: #c5c5c5; /* Light color for code text */
    font-family: 'Courier New', Courier, monospace; /* Monospace font for code */
    margin-top: 10px; /* Space above code blocks */
}



/* Navbar styling */
.navbar {
    display: flex;
    
    width: 100%;
}

#timer {
    margin-left: 500px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 20px;
    font-size: 24px;
    color: white;
}

.navbar h1 {
    margin: 0;
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

/* Container styling */
.container {
    display: flex;
    height: calc(100% - 60px);
    position: relative;
}

/* Question panel styling */
.question-panel {
    width: 40%;
    background-color: #282828;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s;
}

.title-section h2 {
    margin-top: 0;
    color: #ffffff;
}

.description-section {
    flex-grow: 1;
    margin-bottom: 20px;
}

.output-section h3 {
    margin-bottom: 5px;
}

.submit-button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #218838;
}

/* Resizer styling */
.resizer {
    width: 5px;
    background-color: #333;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40%; /* Position it where the question panel ends */
    z-index: 1;
}

/* Code editor styling */
.code-editor {
    width: 60%;
    height: 100%;
    border-left: 2px solid #333;
    transition: width 0.3s;
}
